.btn {
  padding: 10px 15px;
  border: 2px solid gray;
  color: gray;
  background-color: #fff;
  border-radius: 10px;
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  background-color: skyblue;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 400px;
  min-height: 250px;
  transform: translate(-50%, -50%);
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.no-scroll {
  overflow: hidden;
}
